    <table>
  <tr>
    <th>Street</th>
    <th>Incident count</th>
  </tr>
  <tr>
    <td>Long street</td>
    <td>{{longCount}}</td>
  </tr>
  <tr>
    <td>Bree street</td>
    <td>{{BreeCount}}</td>
  </tr>
    <tr>
    <td>Loop street</td>
    <td>{{loopCount}}</td>
  </tr>
    <tr>
    <td>Kloof street</td>
    <td>{{kloofCount}}</td>
  </tr>
    <tr>
    <td>Adderley street</td>
    <td>{{adderCount}}</td>
  </tr>
    </tr>
    <tr>
    <td>Lower main road, Observatory</td>
    <td>{{lowerCount}}</td>
  </tr>
</table>